body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Navbar.css */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin: 0;
}

/* Style the links on hover or active state as needed */
.navbar a:hover,
.navbar a:focus {
  text-decoration: underline;
}
/* Footer.css */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

/* Style the links on hover or active state as needed */
.footer a:hover,
.footer a:focus {
  text-decoration: underline;
}
